---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <style></style>
  <body>
    <div class="relative w-full h-full select-none">
      <canvas id="game-canvas" class="w-screen h-screen"></canvas>
      <div
        class="absolute top-2 left-2 w-14 h-14 rounded-full overflow-hidden flex items-center justify-center bg-transparent"
      >
        <img
          id="nextCurrencyDisplay"
          src=""
          alt="Next Currency"
          class="w-full h-auto object-cover"
          draggable="false"
        />
      </div>
    </div>
  </body>
  <script src="../game.js"></script>
</html>
